:root {
  --c-black: #000000;
  --c-light-black: #131313;
  --c-white: #ffffff;
  --c-green: #54c454;
  --c-gray: #a5a5a5;
  --c-red: #ee5a5a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background-color: antiquewhite;

  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  overflow: hidden;
}
